<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nomad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/front"
        android:label="Mango"
        android:roundIcon="@mipmap/front"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nomad"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".StockManagementScreen"
            android:exported="false"
            android:label="@string/title_activity_stock_management_screen"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".StockManagementViewModel"
            android:exported="false"
            android:label="@string/title_activity_stock_management_view_model"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".InventoryManagementScreen"
            android:exported="false"
            android:label="@string/title_activity_inventory_management"
            android:theme="@style/Theme.Nomad"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".InventoryScreen"
            android:exported="false"
            android:label="InventoryScreen"
            android:theme="@style/Theme.Nomad"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Privacy"
            android:exported="false"
            android:label="@string/title_activity_privacy"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".FAQ"
            android:exported="false"
            android:label="@string/title_activity_faq"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".MangoServices"
            android:exported="false"
            android:label="@string/title_activity_mango_services"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".PurchaseOrder"
            android:exported="false"
            android:label="@string/title_activity_purchase_order"
            android:theme="@style/Theme.Nomad"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Purchase"
            android:exported="false"
            android:label="@string/title_activity_purchase"
            android:theme="@style/Theme.Nomad" />

        <receiver android:name=".GeofenceBroadcastReceiver" />

        <activity
            android:name=".HelpScreen"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".HomeScreen"
            android:exported="false"
            android:theme="@style/Theme.Nomad" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Mango"
            android:theme="@style/Theme.Nomad"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>